body{
    background-image: url(pattern-background-desktop.svg);
    background-size: cover;
}
.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main div.first,.first img {
    border-radius: 10px;
}
.second{
    text-align: center;
    padding-bottom: 40px;
    line-height: 15px;
}
.second h3 {
    font-size: 15px;
    color: #808080;
}
.third{
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 20px;
    display: flex;
    background-color: #e3bebe; 
    align-content: space-around;
    align-items: center;
}
.third img{
    height: 20%;
    width: 20%;
}
.item1{
    padding-right: 10px;
}
.item2{
    line-height: 3px;
    padding-right: 40px;
}
.item3{
    color: blue;
}
.four{
    padding-top: 10px;
}
.order{
    padding: 0.1px;
    background-color: rgb(59, 10, 207);
    border-radius: 15px;
    font-size: 7px;
    text-align: center;
    color: white;
    padding-left: 140px;
    padding-right: 140px;
}
.corder{
    font-size: 7px;
    text-align: center;
}